#backPanel{
    margin-Left: 10%;
    margin-right: 10%;
    margin-top: 8rem;
    background-color: #bca3e0;
    width: 80%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 11px 21px 5px rgba(0,0,0,0.46);;
}

#categoryForm{
    width: 50%;
    margin-left: 16rem;
}
