#adminTitle{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
}

#hrLine{
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

#cardTitle{
    text-align: center;
    font-weight: bold;
}

#linkBtn{
    display: block;
}
